<div class="bg-white border" *ngIf="photo$ | async as photo">
  <div class="row">
    <div class="col-lg-8">
      <ap-photo [url]="photo.url" [description]="photo.description"></ap-photo>
    </div>

    <div class="col-lg-4 p-4">
      <small>
        <p class="text-left break-word">{{ photo.description }}</p>
        <div class="text-left mb-4">
          <a appShowIfLogged>
            <i class="fa fa-heart-o fa-2x mr-2 pull-left" (click)="like(photo)">
              {{ photo.likes }}
            </i>
          </a>
          <i class="fa fa-comment-o fa-2x mr-2 ml-2"></i>{{ photo.comments }}
          <a>
            <i
              class="fa fa-trash-o fa-2x pull-right"
              appPhotoOwnerOnly
              [ownedPhoto]="photo"
              (click)="remove()"
            ></i>
          </a>
        </div>
        <br />
      </small>
      <app-photo-comments
        *ngIf="photo.allowComments; else notAllowedComments"
        [photoId]="photoId"
      ></app-photo-comments>
      <ng-template #notAllowedComments>
        <p>
          <em>O usuário desabilitou os comentários para esta foto.</em>
        </p>
      </ng-template>
    </div>
  </div>
</div>
