<h4 class="text-center">Registre-se e abraçe um novo mundo!</h4>

<form class="form mt-4" [formGroup]="signupForm" (submit)="signup()">
  <div class="form-group">
    <input
      #emailInput
      placeholder="e-mail"
      class="form-control"
      formControlName="email"
      autofocus
    />
    <app-vmessage
      *ngIf="
        signupForm.get('email').errors?.required &&
        signupForm.get('email').touched
      "
      text="Campo obrigatório!"
    ></app-vmessage>
    <app-vmessage
      *ngIf="signupForm.get('email').errors?.email"
      text="Digite um email valido: usuario@exemplo.com"
    ></app-vmessage>
  </div>

  <div class="form-group">
    <input
      placeholder="Nome completo"
      class="form-control"
      formControlName="fullName"
    />
    <app-vmessage
      *ngIf="
        signupForm.get('fullName').errors?.required &&
        signupForm.get('fullName').touched
      "
      text="Campo obrigatório!"
    ></app-vmessage>
    <app-vmessage
      *ngIf="signupForm.get('fullName').errors?.minlength"
      text="O nome deve ter no mínimo 5 caracteres"
    ></app-vmessage>
    <app-vmessage
      *ngIf="signupForm.get('fullName').errors?.maxlength"
      text="O nome deve ter no máximo 40 caracteres"
    ></app-vmessage>
  </div>

  <div class="form-group">
    <input
      placeholder="username"
      class="form-control"
      formControlName="userName"
    />
    <app-vmessage
      *ngIf="
        signupForm.get('userName').errors?.required &&
        signupForm.get('userName').touched
      "
      text="Campo obrigatório!"
    ></app-vmessage>
    <app-vmessage
      *ngIf="signupForm.get('userName').errors?.minlength"
      text="O nome de usuário deve ter no mínimo 2 caracteres"
    ></app-vmessage>
    <app-vmessage
      *ngIf="signupForm.get('userName').errors?.maxlength"
      text="O nome de usuário deve ter no máximo 30 caracteres"
    ></app-vmessage>
    <app-vmessage
      *ngIf="signupForm.get('userName')?.errors?.lowerCase"
      text="O nome de usuário deve ser em letras minúsculas!"
    ></app-vmessage>
    <app-vmessage
      *ngIf="signupForm.get('userName').errors?.userNameTaken"
      text="O nome de usuario já existe!"
    >
    </app-vmessage>
    <small *ngIf="signupForm.get('userName').valid" class="text-success"
      >Nome de usuário disponível!</small
    >
  </div>

  <div class="form-group">
    <input
      type="password"
      placeholder="Senha"
      class="form-control"
      formControlName="password"
    />
    <app-vmessage
      *ngIf="
        signupForm.get('password').errors?.required &&
        signupForm.get('password').touched
      "
      text="Campo obrigatório!"
    ></app-vmessage>
    <app-vmessage
      *ngIf="signupForm.get('password').errors?.minlength"
      text="A senha deve ter no mínimo 8 caracteres"
    ></app-vmessage>
    <app-vmessage
      *ngIf="signupForm.get('password').errors?.maxlength"
      text="A senha deve ter no máximo 18 caracteres"
    ></app-vmessage>
  </div>

  <button
    class="btn btn-primary btn-block"
    type="submit"
    [disabled]="signupForm.invalid || signupForm.pending"
  >
    Registrar-se
  </button>

  <p>Já é usuário? <a [routerLink]="['']">Faça seu login!</a></p>
</form>
