<header class="fixed-top">
  <nav class="navbar navbar-light bg-white">
    <div>
      <a>
        <i
          class="fa fa-bars mr-2"
          (click)="menu.toggle()"
          tabindex="0"
          (keyup.space)="menu.toggle()"
        ></i>
      </a>
      <a class="navbar-brand" [routerLink]="['']"> ALURAPIC </a>
      <app-menu #menu>
        <ul class="list-unstyled">
          <li>
            <a
              appShowIfLogged
              [routerLink]="['p', 'add']"
              (click)="menu.toggle()"
              >Adicionar foto</a
            >
          </li>
        </ul>
      </app-menu>
    </div>
    <div *ngIf="user$ | async as user; else login">
      <i class="fa fa-user-circle mr-2"></i>
      <a class="mr-2 to-uppercase">{{ user.name }}</a>
      <a (click)="logout()">(Logout)</a>
    </div>
    <ng-template #login>
      <span class="navbar-text"
        ><a [routerLink]="['']">Faça seu login!</a></span
      >
    </ng-template>
  </nav>
  <div class="fixed-top">
    <app-loading-bar></app-loading-bar>
    <app-alert></app-alert>
  </div>
</header>
