<h4 class="text-center">Login</h4>

<form class="form mt-4" [formGroup]="loginForm" (submit)="login()">
  <div class="form-group">
    <input
      #userNameInput
      class="form-control"
      placeholder="username"
      autofocus
      formControlName="userName"
    />
    <app-vmessage
      *ngIf="
        loginForm.get('userName').errors?.required &&
        loginForm.get('userName').touched
      "
      text="O nome de usuário é obrigatório!"
    ></app-vmessage>
  </div>

  <div class="form-group">
    <input
      type="password"
      class="form-control"
      placeholder="***********"
      formControlName="password"
    />
    <app-vmessage
      *ngIf="
        loginForm.get('password').errors?.required &&
        loginForm.get('password').touched
      "
      text="A senha é obrigatória!"
    ></app-vmessage>
  </div>

  <button
    class="btn btn-primary btn-block"
    type="submit"
    [disabled]="loginForm.invalid"
  >
    login
  </button>
</form>

<p>Not a user? <a [routerLink]="['signup']">Register now</a></p>
